<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hutu.hutunote.mapper.NoteMapper">

    <select id="listNoteInfo" resultType="com.hutu.hutunote.model.vo.NoteInfoVO">
        SELECT ID,
               NAME,
               NOTE_TYPE,
               CATA_ID,
               NOTE_TYPE,
               FILE_SIZE,
               CREATE_DATE
          FROM TB_NOTE
        <where>
            STATE = 'E'
            <if test="keyword != null and keyword != ''">
                AND UPPER(NAME) LIKE CONCAT('%', UPPER(#{keyword}), '%')
            </if>
        </where>
         ORDER BY CREATE_DATE DESC
    </select>

</mapper>