@charset "UTF-8";

$body-bg: #ECEFF2;
$box-bg: #fff;
$font-color: #303336;
$border-color: #DAE1E9;
$scroll-bg: #BCC1D6;
$header-height: 0px;
$left-width: 80px;
$menu-width: 77px;
$primary-orange: #FF9064;
$primary-red: #FF5944;
$primary-blue: #009EFF;
$primary-grey: #999;
$primary-green: #04D917;
$primary-cyan: #00ACF8;
$primary-purple: #8B64FF;
$primary-cayn: #15B1FF;
$primary-purple-dark: #565AFF;
$error-color: rgba(255, 0, 0, 0.384);